# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.tp3.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\theol\tp3\.idea\.idea.tp3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
